<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.sd.demo.umeng.push.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <activity
            android:name="com.sd.demo.umeng.push.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 子进程自启动相关 -->
        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            tools:node="remove" />

        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            tools:node="remove" />

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action
                    android:name="android.intent.action.USER_PRESENT"
                    tools:node="remove" />
            </intent-filter>
        </receiver>

    </application>

</manifest>